*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

############
# ignore beer.db and build used for testing

beer.db
build/

######
# ignore komodo project file

*.kpf


