
<h3><%= @beer_tags.count + @brewery_tags.count %> Tags</h3>

<p>
  <span class='tags'>
<% @beer_tags.each_with_index do |tag, i| %>
  <% if i > 0 %>
         &bull; 
  <% end %>
  <%= tag.key %>
<% end %>
  </span>
</p>

<p>
  <span class='tags'>
<% @brewery_tags.each_with_index do |tag, i| %>
  <% if i > 0 %>
         &bull; 
  <% end %>
  <%= tag.key %>
<% end %>
  </span>
</p>
